BASE_URL=http://host.docker.internal
TARGET_ENV=local
API_PREFIX=

TEST_USER_LOGIN=test@example.com
TEST_USER_PASSWORD=change-me

K6_VUS=1
K6_DURATION=30s
K6_SCENARIO=browsing
K6_TAG_ENV=local

HTTP_TIMEOUT=30s
THINK_TIME_MIN=1
THINK_TIME_MAX=3
